<div class="container text-center mt-5">
  <div class="screen-init">
    <h1>Cuentas</h1>
    <button
      class="btn btn-primary mx-2"
      type="button"
      routerLink="/cuenta/ver-cuentas"
    >
      Ver Cuentas
    </button>
    <button
      class="btn btn-primary mx-2"
      type="button"
      routerLink="/cuenta/crear-cuenta"
    >
      Crear Cuenta
    </button>
    <button
      class="btn btn-primary mx-2"
      type="button"
      routerLink="/cuenta/eliminar-cuenta"
    >
      Eliminar Cuenta
    </button>
  </div>
  <button class="btn btn-danger mt-3" (click)="logOut()">Cerrar Sesión</button>
</div>
<router-outlet></router-outlet>
